@use "variables" as *;

.about {
    padding: 10px 0;
    border-bottom: 1.5px solid #dcdcdc;

&__left {
    flex: 2;
    }

&__right {
    flex: 1;
    }

&__title {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.7;
    color: $color-gray;
    margin-bottom: 15px;
    }

&__text {
    font-size: 14px;
    line-height: 1.9;
    color: $color-gray-light;
    margin-bottom: 20px;
    }

&__author {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    opacity: 1;
    }
}