@use "variables" as *;
@use "fonts";

.about {
    border-bottom: 1px solid $color-border;

&__left {
    flex: 2 1 60%;
    }

&__right {
    flex: 1 1 35%;
    }

&__title {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.7;
    color: $color-gray;
    }

&__text {
    font-size: 14px;
    line-height: 1.9;
    color: $color-gray-light;
    }

&__author {
    font-style: italic;
    font-weight: bold;
    }
}