@use "variables" as *;

.footer {
    background: #2a2a2a;
    color: #ccc;

&__col {
    flex: 1;
    }

&__list {
    list-style: none;
    }

&__item {
    padding: 6px 0;
    border-bottom: 1px solid #3a3a3a;
    }

&__title {
    font-size: 16px;
    font-weight: 300;
    color: #989898;
    line-height: 2.7;
    border-bottom: 1px solid #3a3a3a;
    padding: 6px 0;
    }

&__link {
    color: #989898;
    text-decoration: none;
    font-size: 14px;
    }

&__item__adress {
    font-size: 14px;
    color: #989898;
    line-height: 1.9;
    padding: 1px;
    border-bottom: none;
    }

&__link__blue {
    color: #006498;
    text-decoration: none;
    font-size: 14px;

&:hover {
text-decoration: underline;
    }
}

&__bottom {
    background: #1f1f1f;
    padding: 20px 0;
    border-top: 0.7px solid #dcdcdc6e;

        .copyright__text {
        font-size: 12px;
        color: #989898;
        line-height: 3.2;
        margin: 0;
        text-align: left;
        }
    }
}