@use "variables" as *;
@use "fonts";

.footer {
    background: $color-dark;
    color: $color-milkwhite;

&__col {
    flex: 1 1 260px;
    max-width: 300px;
    box-sizing: border-box;
    }

&__list {
    list-style: none;
    }

&__item {
    border-bottom: 1px solid $color-border-bottom;
    }

&__title {
    font-size: 16px;
    font-weight: 300;
    color: $color-gray-light;
    line-height: 2.7;
    border-bottom: 1px solid $color-border-bottom;
    }

&__link {
    color: $color-gray-light;
    font-size: 14px;
    }

&__item__adress {
    font-size: 14px;
    color: $color-gray-light;
    line-height: 1.9;
    border-bottom: none;
    }

&__link__blue {
    color: $color-blue;
    font-size: 14px;

&:hover {
text-decoration: underline;
    }
}

&__bottom {
    background: $color-dark;
    border-top: 1px solid #dcdcdc6e;

        .copyright__text {
        font-size: 12px;
        color: #989898;
        line-height: 3.2;
        }
    }
}