@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $color-text;


&.lock {
    overflow: hidden;
}
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 15px;
    align-items: center;
}