@use "variables" as *;
@use "fonts";

.header {
    background: $color-dark;
    border-bottom: 1px solid $color-border;

&__link {
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);
}

&__burger {
    width: 30px;
    height: 21px;
    cursor: pointer;

    span {
        width: 100%;
        height: 3px;
        background: #ffffff;
        border-radius: 2px;
        transition: 0.3s;
    }

    .active span {
    transform: translateY(-10px);
    opacity: 0;
        }
    }
}