@use "variables" as *;

.header {
    background: $color-dark;
    padding: 20px 0;
    border-bottom: 1px solid $color-border;

&__link {
    font-size: 48px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);
    text-decoration: none;
}

&__burger {
    display: none;
    width: 30px;
    height: 21px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1202;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        transition: 0.3s;
    }

&.active span {
    transform: translateY(-10px);
    opacity: 0;
        }
    }
}