@use "variables" as *;

.header {
    background: $color-dark;
    padding: 20px 0;
    border-bottom: 1px solid $color-border;

&__link {
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);
    text-decoration: none;
}

&__burger {
    display: none;
    width: 30px;
    height: 21px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1202;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background: #ffffff;
        border-radius: 2px;
        transition: 0.3s;
    }

    .active span {
    transform: translateY(-10px);
    opacity: 0;
        }
    }
}

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: $color-dark;
  padding: 60px 20px;
  transition: top 0.28s ease;
  z-index: 1200;

  &__list {
    list-style: none;
    gap: 30px;
    margin: 0;
    align-items: center;
    padding-right: 20px;
  }

  &__item {
    width: auto;
    max-width: none;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
      color: $color-blue;
    }
  }

  &.active {
    left: 0;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.28s ease;
  z-index: 1199;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}