@use "variables" as *;
@use "sass:color";

.featured {
    background-color: #186687;
    background-color: linear-gradient(360deg, rgba(24, 102, 135, 1) 0%, rgba(35, 134, 176, 1) 100%);
    padding: 60px 0;
}


.d-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 15px;
    align-items: center;
}


.feature__wrapper {
    flex: 1;
}


.feature__title {
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.1;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}


.feature__text {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.7;
    margin-bottom: 20px;
}


.slider {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid $color-milkwhite;
    display: block;
    width: 100%;
    max-width: 480px;
    box-sizing: border-box;
    overflow: visible;


.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 99;
    background-size: contain;
    background-repeat: no-repeat;
    }


.slick-prev {
    left: -15px;
    background-image: url("../img/pre_arrow.png");
    }


.slick-next {
    right: -15px;
    background-image: url("../img/next_arrow.png");
    }


.slick-slide {
    width: 100%;
    height: 300px;
    overflow: hidden;
    }


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    }
}