@mixin flex-center {
display: flex;
justify-content: center;
align-items: center;
}

@mixin respond($breakpoint) {
@if $breakpoint == md {
@media (max-width: 992px) { @content; }
}
@else if $breakpoint == sm {
@media (max-width: 768px) { @content; }
}
@else if $breakpoint == xs {
@media (max-width: 480px) { @content; }
}
}