@use "variables" as *;

.nav {
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    background: $color-dark;
    padding: 60px 20px;
    transition: top 0.28s ease;
    z-index: 1200;

&.active {
    left: 0;
}

&__list {
    list-style: none;
    gap: 30px;
    margin: 0;
    align-items: center;
    padding-right: 20px;
}

&__item {
    width: auto;
    max-width: none;
}

&__link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;

&:hover {
        text-decoration: underline;
        color: $color-blue;
        }
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.28s ease;
    z-index: 1199;

&.active {
        opacity: 1;
        pointer-events: auto;
    }
}