@use "variables" as *;
@use "fonts";

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: $color-dark;
  transition: top 0.28s ease;

  &__list {
    list-style: none;
  }

  &__item {
    width: auto;
    max-width: none;
  }

  &__link {
    color: #ffffff;
    font-size: 15px;

    &:hover {
      text-decoration: underline;
      color: $color-blue;
    }
  }

  &.active {
    left: 0;
  }
}