@use "variables" as *;
@use "fonts" as *;

.portfolio {
    border-bottom: 1px solid $color-border;

&__text {
    font-size: 25px;
    font-weight: 400;
    color: $color-gray;
    line-height: 1.52;
}

&__btn {
    border-radius: 5px;
    background: linear-gradient(90deg, #efefef 0%, #fcfcfc 100%);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(220,220,220,0.004);
    font-family: $font-main;
    font-size: 18px;
    color: $color-gray;
    border: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        }

    & .arrow {
        width: 9px;
        height: 14px;
        background-image: url('../img/Arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        }
    }
}