@use "variables" as *;

.portfolio {
    padding: 10px 0;
    border-bottom: 1.5px solid $color-border;

&__text {
    font-size: 25px;
    font-weight: 400;
    color: $color-gray;
    line-height: 1.52;
    margin: 0;
    }

&__btn {
    display: inline-flex;
    padding: 15px 30px;
    border-radius: 5px;
    gap: 10px;
    align-items: center;
    background: linear-gradient(90deg, #efefef 0%, #fcfcfc 100%);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(220,220,220,0.004);
    font-family: $font-main;
    font-size: 18px;
    color: $color-gray;
    text-decoration: none;
    border: none;
    cursor: pointer;

.arrow {
        display: inline-block;
        width: 9px;
        height: 14px;
        background-image: url('../img/Arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        }
    }
}