@use "variables" as *;
@use "fonts";

.services {
    border-bottom: 1px solid $color-border;

&__item {
    flex: 1 1 250px;
    max-width: 33%;
    }

&__img {
    width: 100%;
    height: 100px;
    background: $color-border;
    border: 1px solid $color-border;
    box-shadow: 0 0 0 1px $color-milkwhite inset;
    border-radius: 5px;
    overflow: hidden;

img {
        width: 100%;
        height: 100%;
        }
    }

&__title {
    font-size: 16px;
    font-weight: 300;
    color: $color-gray;
    line-height: 2.4;
    }

&__text {
        font-size: 14px;
        color: $color-gray-light;
        line-height: 1.9;
    }
}