@use "variables" as *;

.slider {
    position: relative;
    background: $color-white;
    border: 1px solid $color-milkwhite;
    width: 100%;
    max-width: 480px;
    overflow: visible;

& .slick-prev,
& .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    }

& .slick-prev {
    left: -15px;
    background-image: url('../img/pre_arrow.png');
    }

& .slick-next {
    right: -15px;
    background-image: url('../img/next_arrow.png');
    }

& .slick-slide {
    width: 100%;
    height: 300px;
    overflow: hidden;
    }

& img {
    width: 100%;
    height: 100%;
    }
}