$font-main: "CenturyGothic", Arial, sans-serif;
$color-text: #333;
$color-dark: #1f1f1f;
$color-blue: #006498;
$color-gray: #606060;
$color-milkwhite: #cccccc;
$color-gray-light: #808080;
$color-border: #dcdcdc;
$color-border-bottom: #3a3a3a;